html,body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    
}
html{
    height:100%;
}
nav{
    padding:10px;
    /*box-shadow:0px 0px 10px rgb(128, 128, 128);*/
    position:sticky;
    top: 0;
    background-color:rgba(8, 15, 46, 0.932);
    z-index:999;
}
nav a{
    color:white;
}

.header{
    z-index:-1;
    padding:20px;
    /*background-image:url('https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-abstract-noise-free-website-background-image.jpg');*/
    /*background-color:rgb(14, 89, 151);*/
    background-color:rgb(209, 0, 98);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    padding-bottom:100px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    z-index:-1;
}

.container{
    padding-left:20%;
    padding-right:20%;
}
.wrapper{
    min-height:100%;
    margin-bottom:70px;
}

@media screen and (max-width:1000px){
    .container{
        padding-left:20px;
        padding-right:20px;
    }
}

h1{
    font-size:40pt;
    font-weight:100;
    margin-bottom:5pt;
}
h2{
    margin-top:5pt;
    font-size:30pt;
    color:rgb(44, 120, 165);
    margin-bottom:5pt;
    font-weight:100;
}
h3{
    margin-top:10pt;
    font-size:25pt;
    color:rgb(224, 47, 100);
    margin-bottom:10pt;
    font-weight:300;
}
code{
    font-family: Consolas,"courier new";
    background-color: #fdfdfd;
    font-style: italic;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #ececec;
}
pre code{
    display: block;
    overflow-x: auto;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5;
    border: 2px solid #f7f7f7;
    font-style: normal;
}

.header h1{
    margin-top:5px;
    color:white;
    font-size:40pt;
}
.header h2{
    color:white;
}

table{
    border-collapse:collapse;
}
td{
    padding:10px;
}
.subheading{
    color:rgb(255, 28, 134);
    font-size:25pt;
}

a{
    font-weight:100;
    color:rgb(0, 0, 0);
    font-size:20pt;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.index a{
    font-weight:200;
    color:rgb(0, 0, 0);
    font-size:20pt;
    text-decoration: none;
    padding:10px;
    margin:10px;
    background-color:#f8f8f8;
    border: 2px solid #ececec;
    border-radius:10px;
    display:block;
    float:left;
}
.index a:hover{
    background-color:#f3f3f3;
}

.content-body{
    min-height:calc(100vh - 120px);
}

.footer{
    background-color:rgb(240,240,240);
    text-align:center;
    height:70px;
    margin-top:50px;
}
p{
    font-size:13pt;
    line-height:1.5;
}

/* CUSTOM SCROLLBAR */
/* https://css-tricks.com/almanac/properties/s/scrollbar-color/ */

html {
    --scrollbarBG: #f5f5f5;
    --thumbBG: #b6b6b6;
}
body::-webkit-scrollbar {
    width: 15px;
}
body {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* CODE SYNTAX HIGHLIGHTING */
code .k{
    color: #D1345B;
    font-style: italic;
}
code .nf{
    color: #FEA82F;
}
code .p{
    color: #062726;
}
code .n{
    color: #247BA0;
}
code .o{
    color: #1F271B;
}
code .kc{
    color: #EF7B45;
}
code .mi{
    color: #EF7B45;
}
code .ow{
    color: #D1345B;
}
code .nb{
    color: #FEA82F;
}
code .c1{
    color: #7D9899;
}
code .kn{
    color: #D1345B;
}
code .nn{
    color: #FEA82F;
}
code .s2, code .s1, code .s, code .sd{ /* All of these are strings */
    color: #5b9b54;
}
code .kt{
    color: #df713f;
    font-style: italic;
}
code .cp{
    color: #c22c51;
}
code .cpf{
    color: #FEA82F;
}