@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html,body{
    font-family:Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    
}
html{
    height:100%;
}
nav{
    padding:10px;
    /*box-shadow:0px 0px 10px rgb(128, 128, 128);*/
    position:sticky;
    top: 0;
    background-color:rgba(8, 15, 46, 0.932);
    z-index:999;
}
nav a{
    color:white;
}

.header{
    padding:20px;
    /*background-image:url('https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-abstract-noise-free-website-background-image.jpg');*/
    /*background-color:rgb(14, 89, 151);*/
    background-image:linear-gradient(to right, rgb(209, 0, 98), rgb(252, 46, 63));
    /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);*/
    /*clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);*/
    padding-bottom: 150px;
    clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);
}

@media screen and (max-width: 1000px) {
    .header{
        clip-path: none;
    }    
}


.container{
    padding-left:20%;
    padding-right:20%;
}
.wrapper{
    min-height:100%;
    margin-bottom:70px;
}

@media screen and (max-width:1000px){
    .container{
        padding-left:20px;
        padding-right:20px;
    }
}

h1{
    font-size:40pt;
    font-weight:400;
    margin-bottom:5pt;
}
h2{
    margin-top:5pt;
    font-size:30pt;
    color:rgb(12, 92, 138);
    margin-bottom:5pt;
    font-weight:100;
}
h3{
    margin-top:10pt;
    font-size:25pt;
    color:rgb(176, 35, 77);
    margin-bottom:10pt;
    font-weight:300;
}
code{
    font-family: Consolas,"courier new";
    background-color: #fdfdfd;
    /*font-style: italic;*/
    border-radius: 5px;
    padding: 1px;
    border: 1px solid #ececec;
    display: inline-block;
    margin: 1px;
}
pre code{
    display: block;
    overflow-x: auto;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5;
    border: 2px solid #f7f7f7;
    font-style: normal;
}

.header h1{
    margin-top:50px;
    color:white;
    font-size:40pt;
}
.header h2{
    color:rgba(255, 255, 255, 0.447);
}

table{
    border-collapse:collapse;
}
td{
    padding:10px;
}
.subheading{
    color:rgb(194, 36, 110);
    font-size:25pt;
}

a{
    font-weight:100;
    color:rgb(0, 0, 0);
    font-size:20pt;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.index a{
    font-weight:200;
    color:rgb(0, 0, 0);
    font-size:20pt;
    text-decoration: none;
    padding:10px;
    margin:10px;
    background-color:#f8f8f8;
    border: 2px solid #ececec;
    border-radius:10px;
    display:block;
    float:left;
}
.index a:hover{
    background-color:#f3f3f3;
}

.content-body{
    min-height:calc(100vh - 120px);
}

.footer{
    background-color:rgb(240,240,240);
    text-align:center;
    height:70px;
    margin-top:50px;
}
p{
    font-size:13pt;
    line-height:1.5;
}

/* CUSTOM SCROLLBAR */
/* https://css-tricks.com/almanac/properties/s/scrollbar-color/ */

html {
    --scrollbarBG: #f5f5f5;
    --thumbBG: #b6b6b6;
}
body::-webkit-scrollbar {
    width: 15px;
}
body {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* CODE SYNTAX HIGHLIGHTING */
code .k{
    color: #D1345B;
    font-style: italic;
}
code .nf{
    color: #FEA82F;
}
code .p{
    color: #062726;
}
code .n{
    color: #247BA0;
}
code .o{
    color: #1F271B;
}
code .kc{
    color: #EF7B45;
}
code .mi{
    color: #EF7B45;
}
code .ow{
    color: #D1345B;
}
code .nb{
    color: #FEA82F;
}
code .c1{
    color: #7D9899;
}
code .kn{
    color: #D1345B;
}
code .nn{
    color: #FEA82F;
}
code .s2, code .s1, code .s, code .sd{ /* All of these are strings */
    color: #5b9b54;
}
code .kt{
    color: #df713f;
    font-style: italic;
}
code .cp{
    color: #c22c51;
}
code .cpf{
    color: #FEA82F;
}